h1{
    text-align: center;
    font-size: 45px;
}
table{
    justify-content: center;
    content: center;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    
}
td{
    border: 1px solid goldenrod;
    text-align: center;
    padding: 0px;
}
img{
    width: 100%;
    height: auto;
}
body{
    text-align: justify;
    padding: 0px;
    margin: 50px;
    background-color: #f2f3f444;
    border: 2px solid rgba(218, 165, 32, 0.616);
}
.all_container{
    background-color: #f2f3f4;
    padding: 20px;
    
}
.table_container{
    padding: 0px;

}
p{
    font-size: 1.5em ;
    
}
h2{
    font-size: 35px ;
}
li{
    font-size: 1.25em;
}
footer{
    text-align: center;
    
}